_refs
InductionZone-DG
*.pyc
*.egg-info
*pytest_cache

vortexcylinder/*.pdf
vortexcylinder/fU*
vortexcylinder/fV*
vortexcylinder/_todo

vortexcylinder/fGetInductions_Prescribed_CT_CQ2.py
vortexcylinder/fInductionCoefficientsCylinders.py

*.png
*.mp4
ffmpeg*
