_refs
InductionZone-DG
*.pyc
*.egg-info
*pytest_cache

vortexcylinder/fU*
vortexcylinder/fV*

vortexcylinder/fGetInductions_Prescribed_CT_CQ2.py
vortexcylinder/fInductionCoefficientsCylinders.py

*.png
*.mp4
ffmpeg*
